.icon {
  cursor: pointer;
  padding: 8px;
}

.project {
  border: 2px solid #438;
  width: fit-content;
  margin: 16px auto;
  padding: 8px;
}

.yellow {
  color: #ff0;
  font-family: Comic Sans MS;
}

footer {
  font-size: 16px;
}

#links {
  width: fit-content;
  margin: auto;
}