:root {
  color: #fff;
  text-align: center;
  background-color: #001;
  font-family: Georgia;
  font-size: 18px;
}

h1, h2 {
  margin: 8px;
  font-family: sans-serif;
}

h1 {
  text-shadow: 0 2px 5px #f0f;
  margin-top: 32px;
  font-size: 48px;
}

a {
  color: #a8f;
}

::selection {
  background-color: #338;
}

body {
  width: 600px;
  max-width: 100%;
  margin: auto;
}